/*------------------------------------

Noto Sans

------------------------------------*/
// Noto Sans ExtraLight
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/NotoSansCJKjp-Thin.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Thin'), /* local */
    url('../fonts/NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Thin.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Thin.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Thin.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Sans Light
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/NotoSansCJKjp-Light.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Light'), /* local */
    url('../fonts/NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Light.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Light.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Light.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Sans Regular
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NotoSansCJKjp-DemiLightDemiLight.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-DemiLight'), /* local */
    url('../fonts/NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-DemiLight.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-DemiLight.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-DemiLight.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
    url('../fonts/NotoSansCJKjp-DemiLight.svg#svgFontName') format('svg'); /* svg - Legacy iOS */
}
// Noto Sans Medium
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansCJKjp-Regular.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Regular'), /* local */
    url('../fonts/NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Regular.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Regular.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Regular.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
    url('../fonts/NotoSansCJKjp-Regular.svg#svgFontName') format('svg'); /* svg - Legacy iOS */
}
// Noto Sans SemiBold
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansCJKjp-Medium.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Medium'), /* local */
    url('../fonts/NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Medium.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Medium.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Medium.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Sans Bold
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansCJKjp-Bold.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Bold'), /* local */
    url('../fonts/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Bold.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Bold.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Bold.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Sans Black
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/NotoSansCJKjp-Black.eot'); /* IE9 Compat Modes */
  src: local('NotoSansCJKjp-Black'), /* local */
    url('../fonts/NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('../fonts/NotoSansCJKjp-Black.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Black.woff') format('woff'), /* woff - Modern Browsers */
    url('../fonts/NotoSansCJKjp-Black.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}

/*------------------------------------

Noto Serif

------------------------------------*/
// Noto Serif ExtraLight
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/NotoSerifCJKjp-ExtraLight.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-ExtraLight'), /* local */
    url('fonts/NotoSerifCJKjp-ExtraLight.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-ExtraLight.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-ExtraLight.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-ExtraLight.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif Light
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/NotoSerifCJKjp-Light.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-Light'), /* local */
    url('fonts/NotoSerifCJKjp-Light.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-Light.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Light.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Light.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif Regular
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NotoSerifCJKjp-Regular.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-Regular'), /* local */
    url('fonts/NotoSerifCJKjp-Regular.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-Regular.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Regular.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Regular.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif Medium
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/NotoSerifCJKjp-Medium.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-Medium'), /* local */
    url('fonts/NotoSerifCJKjp-Medium.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-Medium.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Medium.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Medium.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif SemiBold
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/NotoSerifCJKjp-SemiBold.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-SemiBold'), /* local */
    url('fonts/NotoSerifCJKjp-SemiBold.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-SemiBold.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-SemiBold.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-SemiBold.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif Bold
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/NotoSerifCJKjp-Bold.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-Bold'), /* local */
    url('fonts/NotoSerifCJKjp-Bold.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-Bold.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Bold.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Bold.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
// Noto Serif Black
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/NotoSerifCJKjp-Black.eot'); /* IE9 Compat Modes */
  src: local('NotoSerifCJKjp-Black'), /* local */
    url('fonts/NotoSerifCJKjp-Black.eot?#iefix') format('embedded-opentype'), /* eof - IE6-IE8 */
    url('fonts/NotoSerifCJKjp-Black.woff') format('woff'), /* woff - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Black.woff2') format('woff2'), /* woff2 - Modern Browsers */
    url('fonts/NotoSerifCJKjp-Black.ttf')  format('truetype'), /* ttf - Safari, Android, iOS */
}
