@import "noto_fonts";
@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none !important;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #80d8e3, #ffb5db, #ffdb99);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
}

/*仮のbg*/
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

// プログラム要素
.bingoComent {
  width: 90%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 2%;left: 0;right: 0;
  margin: auto;
  &_item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    li {
      display: inline-block;
      line-height: 50px;
      animation: commentAnime 15s linear 1;
      position: absolute;
      top: 0;left: -100%;
    }
  }
  .updateBtn {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/update.png');
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 0;bottom: 0;right: 10px;
    margin: auto;
  }
}
@keyframes commentAnime {
    0%{left: 100%;}
    40%{left: 0;}
    60%{left: 0;}
    100%{left: -100%;}
}

