@import "noto_fonts";
@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none !important;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #80d8e3, #ffb5db, #ffdb99);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite;
}

/*仮のbg*/
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

// プログラム要素
.program {
  width: 750px;
  height: 750px;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  margin: auto;
  &_item {
    width: 100%;
    height: 100%;
    padding: 180px 0;
    box-sizing: border-box;
    li {
      width: 100%;
      height: 20%;
      text-align: center;
      font-size: 19px;
      font-weight: 700;
      color: #6e6d6f;
      cursor: pointer;
      transition: all .5s ease;
      position: relative;
      z-index: 10;
      &.current {
        font-size: 40px;
        color: #222;
        span {
          color: #fff;
        }
      }
    }
  }
  @mixin rotate_circle($size: 100%, $time: 20s) {
    width: $size;
    height: $size;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    margin: auto;
    border-radius: 50%;
    border-left: solid 2px #fff;
    animation: rotate $time linear infinite;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -3px;left: 0;right: 0;
      margin: auto;
    }
  }
  &_circle1 {
    @include rotate_circle(100%,20s);
  }
  &_circle2 {
    @include rotate_circle(95%,22s);
  }
  &_circle3 {
    @include rotate_circle(90%,24s);
  }
}


// コメント要素
.comment_item {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;left: 0;
  li {
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow:2px 2px 6px 0px #cfcfcf;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    font-size: 17px;
    line-height: 1.5;
    word-wrap: break-word;
    // 各要素の個別設定
    &.commontType1 {
      top:5%;left: 30%;
      animation: float 2s ease infinite;
    }
    &.commontType2 {
      bottom:10%;right: 10%;
      animation: floatSpin 2.5s ease infinite;
    }
    &.commontType3 {
      top:50%;left: 10%;
      animation: float 2s ease infinite;
    }
    &.commontType4 {
      top:10%;right: 20%;
      animation: float 1.5s ease infinite;
    }
    &.commontType5 {
      top:20%;left: 5%;
      animation: floatSpin 3s ease infinite;
    }
    &.commontType6 {
      bottom:10%;left: 30%;
      animation: float 2.5s ease infinite;
    }
    &.commontType7 {
      bottom:50%;right: 5%;
      animation: float 3s ease infinite;
    }
  }
}




@keyframes float {
  0% {transform: translateY(0%);}
  50% {transform: translateY(6%);}
  100% {transform: translateY(0%);}
}

@keyframes floatSpin {
    0%{transform:translateY(0%) rotateY(0deg);}
    40%{transform:translateY(8%) rotateY(0deg);}
    90%{transform:translateY(0%) rotateY(0deg);}
    100%{transform:translateY(0%) rotateY(360deg);}
}
@keyframes rotate {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}



