@import "noto_fonts";
@charset "utf-8";

// p {
//   margin: 0;
// }

h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 15em;
  // margin: 0;
}
.out {
  font-size: 2em;
  line-height: 1.5;
  letter-spacing: -0.080em;
}
main {
  text-align: center;
  .mainBlock {
    float: left;
    width: 68%;
  }
  section {
    .view {
      border: 10px solid #fee;
      margin-left: 10px;
    }
    .start,.stop {
      width: 200px;
      margin-bottom: 15px;
    }
    .stop {
      display: none;
    }
    .bingo_number {
      text-align: center;
    }
    .out {
      text-align: left;
      padding: 10px 0;
      width: 665px;
      margin: 15px auto;
      border-top: 2px solid;
      border-bottom: 2px solid;
    }
  }
}

// .sideMenu {
//   text-align: left;
//   font-family: "ＭＳ Ｐ明朝";
//   font-size: 20px;
//   font-weight: bold;
//   margin-left: 69%;
//   border-style: solid;
//   padding: 0 5px 5px;
//   .sideMenuName {
//     text-align: center;
//   }
//   .checkBox {
//     display: inline-block;
//     margin-left: 3px;
//     transform: scale(1.4);
//   }
//   .number {
//     margin-left: 2px;
//     font-size: 1.5rem;
//     display: inline-block;
//   }
//   .display {
//     display: inline;
//     position: relative;
//     left: -2px;
//     top: 2px;
//     &.hide {
//       display: none;
//     }
//   }
// }
