@charset "UTF-8";
/*------------------------------------

Noto Sans

------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansCJKjp-Thin.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Thin"), url("../fonts/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Thin.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Thin.woff") format("woff"), url("../fonts/NotoSansCJKjp-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NotoSansCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Light"), url("../fonts/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Light.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Light.woff") format("woff"), url("../fonts/NotoSansCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansCJKjp-DemiLightDemiLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-DemiLight"), url("../fonts/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKjp-DemiLight.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-DemiLight.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Regular"), url("../fonts/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"), url("../fonts/NotoSansCJKjp-Regular.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-Regular.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Medium"), url("../fonts/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Medium.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Medium.woff") format("woff"), url("../fonts/NotoSansCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Bold"), url("../fonts/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Bold.woff") format("woff"), url("../fonts/NotoSansCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Black"), url("../fonts/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Black.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Black.woff") format("woff"), url("../fonts/NotoSansCJKjp-Black.ttf") format("truetype"); }

/*------------------------------------

Noto Serif

------------------------------------*/
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/NotoSerifCJKjp-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-ExtraLight"), url("fonts/NotoSerifCJKjp-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-ExtraLight.woff") format("woff"), url("fonts/NotoSerifCJKjp-ExtraLight.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/NotoSerifCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Light"), url("fonts/NotoSerifCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Light.woff") format("woff"), url("fonts/NotoSerifCJKjp-Light.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/NotoSerifCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Regular"), url("fonts/NotoSerifCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Regular.woff") format("woff"), url("fonts/NotoSerifCJKjp-Regular.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NotoSerifCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Medium"), url("fonts/NotoSerifCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Medium.woff") format("woff"), url("fonts/NotoSerifCJKjp-Medium.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/NotoSerifCJKjp-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-SemiBold"), url("fonts/NotoSerifCJKjp-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-SemiBold.woff") format("woff"), url("fonts/NotoSerifCJKjp-SemiBold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/NotoSerifCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Bold"), url("fonts/NotoSerifCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Bold.woff") format("woff"), url("fonts/NotoSerifCJKjp-Bold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/NotoSerifCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Black"), url("fonts/NotoSerifCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Black.woff") format("woff"), url("fonts/NotoSerifCJKjp-Black.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Black.ttf") format("truetype"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hide {
  display: none !important; }

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; }

.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #80d8e3, #ffb5db, #ffdb99);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite; }

/*仮のbg*/
@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.bingoComent {
  width: 90%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin: auto; }
  .bingoComent_item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .bingoComent_item li {
      display: inline-block;
      line-height: 50px;
      animation: commentAnime 15s linear 1;
      position: absolute;
      top: 0;
      left: -100%; }
  .bingoComent .updateBtn {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/update.png");
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto; }

@keyframes commentAnime {
  0% {
    left: 100%; }
  40% {
    left: 0; }
  60% {
    left: 0; }
  100% {
    left: -100%; } }
