@charset "UTF-8";
/*------------------------------------

Noto Sans

------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansCJKjp-Thin.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Thin"), url("../fonts/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Thin.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Thin.woff") format("woff"), url("../fonts/NotoSansCJKjp-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NotoSansCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Light"), url("../fonts/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Light.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Light.woff") format("woff"), url("../fonts/NotoSansCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansCJKjp-DemiLightDemiLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-DemiLight"), url("../fonts/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKjp-DemiLight.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-DemiLight.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Regular"), url("../fonts/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"), url("../fonts/NotoSansCJKjp-Regular.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-Regular.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Medium"), url("../fonts/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Medium.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Medium.woff") format("woff"), url("../fonts/NotoSansCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Bold"), url("../fonts/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Bold.woff") format("woff"), url("../fonts/NotoSansCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Black"), url("../fonts/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Black.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Black.woff") format("woff"), url("../fonts/NotoSansCJKjp-Black.ttf") format("truetype"); }

/*------------------------------------

Noto Serif

------------------------------------*/
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/NotoSerifCJKjp-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-ExtraLight"), url("fonts/NotoSerifCJKjp-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-ExtraLight.woff") format("woff"), url("fonts/NotoSerifCJKjp-ExtraLight.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/NotoSerifCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Light"), url("fonts/NotoSerifCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Light.woff") format("woff"), url("fonts/NotoSerifCJKjp-Light.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/NotoSerifCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Regular"), url("fonts/NotoSerifCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Regular.woff") format("woff"), url("fonts/NotoSerifCJKjp-Regular.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NotoSerifCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Medium"), url("fonts/NotoSerifCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Medium.woff") format("woff"), url("fonts/NotoSerifCJKjp-Medium.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/NotoSerifCJKjp-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-SemiBold"), url("fonts/NotoSerifCJKjp-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-SemiBold.woff") format("woff"), url("fonts/NotoSerifCJKjp-SemiBold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/NotoSerifCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Bold"), url("fonts/NotoSerifCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Bold.woff") format("woff"), url("fonts/NotoSerifCJKjp-Bold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/NotoSerifCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Black"), url("fonts/NotoSerifCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Black.woff") format("woff"), url("fonts/NotoSerifCJKjp-Black.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Black.ttf") format("truetype"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers 
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.hide {
  display: none !important; }

body, html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%; }

.bg {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #80d8e3, #ffb5db, #ffdb99);
  background-size: 600% 600%;
  animation: AnimationName 10s ease infinite; }

/*仮のbg*/
@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.program {
  width: 750px;
  height: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .program_item {
    width: 100%;
    height: 100%;
    padding: 180px 0;
    box-sizing: border-box; }
    .program_item li {
      width: 100%;
      height: 20%;
      text-align: center;
      font-size: 19px;
      font-weight: 700;
      color: #6e6d6f;
      cursor: pointer;
      transition: all .5s ease;
      position: relative;
      z-index: 10; }
      .program_item li.current {
        font-size: 40px;
        color: #222; }
        .program_item li.current span {
          color: #fff; }
  .program_circle1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border-left: solid 2px #fff;
    animation: rotate 20s linear infinite; }
    .program_circle1:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      left: 0;
      right: 0;
      margin: auto; }
  .program_circle2 {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border-left: solid 2px #fff;
    animation: rotate 22s linear infinite; }
    .program_circle2:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      left: 0;
      right: 0;
      margin: auto; }
  .program_circle3 {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border-left: solid 2px #fff;
    animation: rotate 24s linear infinite; }
    .program_circle3:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      left: 0;
      right: 0;
      margin: auto; }

.comment_item {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }
  .comment_item li {
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 0px #cfcfcf;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    font-size: 17px;
    line-height: 1.5;
    word-wrap: break-word; }
    .comment_item li.commontType1 {
      top: 5%;
      left: 30%;
      animation: float 2s ease infinite; }
    .comment_item li.commontType2 {
      bottom: 10%;
      right: 10%;
      animation: floatSpin 2.5s ease infinite; }
    .comment_item li.commontType3 {
      top: 50%;
      left: 10%;
      animation: float 2s ease infinite; }
    .comment_item li.commontType4 {
      top: 10%;
      right: 20%;
      animation: float 1.5s ease infinite; }
    .comment_item li.commontType5 {
      top: 20%;
      left: 5%;
      animation: floatSpin 3s ease infinite; }
    .comment_item li.commontType6 {
      bottom: 10%;
      left: 30%;
      animation: float 2.5s ease infinite; }
    .comment_item li.commontType7 {
      bottom: 50%;
      right: 5%;
      animation: float 3s ease infinite; }

@keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(6%); }
  100% {
    transform: translateY(0%); } }

@keyframes floatSpin {
  0% {
    transform: translateY(0%) rotateY(0deg); }
  40% {
    transform: translateY(8%) rotateY(0deg); }
  90% {
    transform: translateY(0%) rotateY(0deg); }
  100% {
    transform: translateY(0%) rotateY(360deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
