/*------------------------------------

Noto Sans

------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansCJKjp-Thin.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Thin"), url("../fonts/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Thin.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Thin.woff") format("woff"), url("../fonts/NotoSansCJKjp-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/NotoSansCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Light"), url("../fonts/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Light.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Light.woff") format("woff"), url("../fonts/NotoSansCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansCJKjp-DemiLightDemiLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-DemiLight"), url("../fonts/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKjp-DemiLight.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-DemiLight.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Regular"), url("../fonts/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"), url("../fonts/NotoSansCJKjp-Regular.ttf") format("truetype"), url("../fonts/NotoSansCJKjp-Regular.svg#svgFontName") format("svg");
  /* svg - Legacy iOS */ }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Medium"), url("../fonts/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Medium.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Medium.woff") format("woff"), url("../fonts/NotoSansCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Bold"), url("../fonts/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Bold.woff") format("woff"), url("../fonts/NotoSansCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSansCJKjp-Black"), url("../fonts/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansCJKjp-Black.woff2") format("woff2"), url("../fonts/NotoSansCJKjp-Black.woff") format("woff"), url("../fonts/NotoSansCJKjp-Black.ttf") format("truetype"); }

/*------------------------------------

Noto Serif

------------------------------------*/
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/NotoSerifCJKjp-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-ExtraLight"), url("fonts/NotoSerifCJKjp-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-ExtraLight.woff") format("woff"), url("fonts/NotoSerifCJKjp-ExtraLight.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 300;
  src: url("fonts/NotoSerifCJKjp-Light.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Light"), url("fonts/NotoSerifCJKjp-Light.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Light.woff") format("woff"), url("fonts/NotoSerifCJKjp-Light.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/NotoSerifCJKjp-Regular.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Regular"), url("fonts/NotoSerifCJKjp-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Regular.woff") format("woff"), url("fonts/NotoSerifCJKjp-Regular.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/NotoSerifCJKjp-Medium.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Medium"), url("fonts/NotoSerifCJKjp-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Medium.woff") format("woff"), url("fonts/NotoSerifCJKjp-Medium.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/NotoSerifCJKjp-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-SemiBold"), url("fonts/NotoSerifCJKjp-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-SemiBold.woff") format("woff"), url("fonts/NotoSerifCJKjp-SemiBold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/NotoSerifCJKjp-Bold.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Bold"), url("fonts/NotoSerifCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Bold.woff") format("woff"), url("fonts/NotoSerifCJKjp-Bold.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 900;
  src: url("fonts/NotoSerifCJKjp-Black.eot");
  /* IE9 Compat Modes */
  src: local("NotoSerifCJKjp-Black"), url("fonts/NotoSerifCJKjp-Black.eot?#iefix") format("embedded-opentype"), url("fonts/NotoSerifCJKjp-Black.woff") format("woff"), url("fonts/NotoSerifCJKjp-Black.woff2") format("woff2"), url("fonts/NotoSerifCJKjp-Black.ttf") format("truetype"); }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 15em; }

.out {
  font-size: 2em;
  line-height: 1.5;
  letter-spacing: -0.080em; }

main {
  text-align: center; }
  main .mainBlock {
    float: left;
    width: 68%; }
  main section .view {
    border: 10px solid #fee;
    margin-left: 10px; }
  main section .start, main section .stop {
    width: 200px;
    margin-bottom: 15px; }
  main section .stop {
    display: none; }
  main section .bingo_number {
    text-align: center; }
  main section .out {
    text-align: left;
    padding: 10px 0;
    width: 665px;
    margin: 15px auto;
    border-top: 2px solid;
    border-bottom: 2px solid; }
